{% extends "base.html" %}
{% load static %}
{% block content %}
<header id="header" class="header">
    <div class="container main-menu p-0">
        <nav id="nav-menu-containers" class="navbar navbar-expand-md navbar-light theme-navheader pl-0 pr-0">
            <div id="logo" class="logo">
                <a href="#"><img class="rounded" src="{% static 'img\4PAGE\logo.png'%}"></img></a>
            </div><!-- LOGODIV-ENDS-HERE -->
            <button id="tog-btn" class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                aria-label="Toggle navigation">
                <span></span><span></span><span></span><span></span>
            </button><!-- TOGGLE-ENDS-HERE -->
    </div>
</header><!-- #header-ENDS-HERE -->
<main id="main">
    <section class="page-section section-ft lang-section abt-connect"
        style="background:#f2f2f2 url({% static 'img/4PAGE/Footer_About.png'%})">
        <div class="container">
            <div class="row">
                <div class="cl-box col-md-12 text-center">
                    <div class="alert alert-info">
                        Your password has been set.
                    </div>
                </div>
            </div
        </div>
    </section>
</main><!-- End #main -->
<div class="content-section">

</div>
{% endblock content %}